<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Task9_1P">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application

        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantMapApp">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBIyK76-0h_fHoRo-AatCscRIroL3JL_oA" />

        <activity android:name="com.example.Task9_1P.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.Task9_1P.Show_Saved_Location">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Task9_1P.MainActivity" />
        </activity>

        <activity android:name="com.example.Task9_1P.Add_New_Location">
        </activity>

    </application>

</manifest>